.intro {
    margin-bottom: 95px;

    &-container {
        background-color: white;
        border-radius: 10px;
        padding: 37px 0;
        box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.02);
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        min-height: 200px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 36.5px;
    }

    &-item:nth-child(2) {
        border-left: 2px solid #eeeff2;
        border-right: 2px solid #eeeff2;
    }

    &-title {
        font-size: 25px;
        margin-bottom: 5px;
    }

    &-text {
        font-size: 20px;
        font-weight: 400;
        line-height: calc(30/20);
    }
}