.network {
    &-heading {
        max-width: 383px;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        margin-bottom: 155px;
    }

}
.network-image img {
    margin-left: auto;
    margin-right: auto;
}

.partner {
    margin-bottom: 50px;

    &-container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 60px;
    }
}